/* ======================= Google Fonts ======================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
/* ======================= Google Fonts ======================= */

/* =======================
Common CSS
======================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
h1{
    font-size: 50px;
}
.container{
    width: 1150px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.align_items_center{
    align-items: center;
}
.justify_content_center{
    justify-content: center;
}
.justify_content_between{
    justify-content: space-between;
}
.justify_content_around{
    justify-content: space-around;
}
.justify_content_evenly{
    justify-content: space-evenly;
}
.btn_regular {
    background: #111430;
    color: #fff !important;
    padding: 10px 40px;
    border-radius: 5px;
}



/* =======================
Header CSS (Header top)
======================= */
header {
    background: #fbd062;
    padding: 40px 0;
}
.top_navigation{
    margin-bottom: 100px;
}
.top_navigation .logo img {
    width: 170px;
}
.navigation_menus ul {
    gap: 30px;
}
.navigation_menus ul li a {
    color: #111430;
}



/* =======================
Header CSS (banner)
======================= */
header{
    margin-bottom: 100px;
}
.banner{
    gap: 10%;
}
.banner_info{
    width: 40%;
}
.banner_info h1 {
    color: #111430;
    line-height: 60px;
    margin-bottom: 20px;
}
.banner_info p{
    color: #111430;
    margin-bottom: 20px;
}
.banner_info a {
    display: inline-block;
    margin-top: 10px;
}
.banner_img{
    width: 50%;
}