/* ======================= Google Fonts ======================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
/* ======================= Google Fonts ======================= */

/* =======================
Common CSS
======================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.container{
    width: 1150px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.align_items_center{
    align-items: center;
}
.justify_content_center{
    justify-content: center;
}
.justify_content_between{
    justify-content: space-between;
}
.justify_content_around{
    justify-content: space-around;
}
.justify_content_evenly{
    justify-content: space-evenly;
}
.btn_regular {
    background: #111430;
    color: #fff !important;
    padding: 10px 40px;
    border-radius: 5px;
}



/* =======================
Header CSS (Header top)
======================= */
header {
    background: #fbd062;
    padding: 40px 0;
}
.top_navigation{
    margin-bottom: 100px;
}
.top_navigation .logo img {
    width: 170px;
}
.navigation_menus ul {
    gap: 30px;
}
.navigation_menus ul li a {
    color: #111430;
}



/* =======================
Header CSS (banner)
======================= */
header{
    margin-bottom: 100px;
}
.banner{
    gap: 10%;
}
.banner_info{
    width: 40%;
}
.banner_info h1 {
    color: #111430;
    line-height: 60px;
    margin-bottom: 20px;
}
.banner_info p{
    color: #111430;
    margin-bottom: 20px;
}
.banner_info a {
    display: inline-block;
    margin-top: 10px;
}
.banner_img{
    width: 50%;
}



/* =======================
Main CSS (Partner)
======================= */
.partner{
    margin-bottom: 200px;
}
.partner img {
    width: 120px;
}



/* =======================
Main CSS (Services)
======================= */
.services{
    margin-bottom: 150px;
}
.services_title{
    text-align: center;
    margin-bottom: 70px;
}
.services_title h2 {
    color: #2d2d2d;
}
.services_title h2 span {
    color: #7ab259;
}
.services_inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
.service{
    text-align: center;
    border-radius: 15px;
    padding: 25px;
    background: #fff;
    cursor: pointer;
    transition: 0.4s;
}
.service:hover{
    box-shadow: 0 0 20px lightgray;
    box-shadow: 0 0 20px lightgray;
}
.service img {
    width: 80px;
    margin-bottom: 10px;
}
.service h3 {
    color: #111430;
    margin-bottom: 20px;
}
.service p {
    color: #959191;
    line-height: 30px;
}



/* =======================
Main CSS (Portfolio)
======================= */
.portfolio{
    background: #111430;
    margin-bottom: 100px;
    padding: 100px 0;
}
.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
.portfolio_title{
    text-align: center;
    margin-bottom: 70px;
}
.portfolio_title h2{
    color: #fff;
}
.portfolio_title h2 span{
    color: #7ab259;
}



/* =======================
Main CSS (Clients Feedback)
======================= */
.clients_feedback{
    margin-bottom: 200px;
}
.clients_feedback_title{
    text-align: center;
    margin-bottom: 70px;
}
.clients_feedback_title h2 {
    color: #2d2d2d;
}
.clients_feedback_title h2 span {
    color: #7ab259;
}
.reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
.review {
    background: #fff;
    border: 1px solid #b9b4b4;
    padding: 20px;
    border-radius: 5px;
}
.review .client_info {
    gap: 20px;
    margin-bottom: 10px;
}
.review .client_info .client_img img {
    width: 80px;
}
.review .client_info .client_name_and_designation small {
    font-weight: 600;
}
.review .client_review p{
    color: #959191;
}



/* =======================
Main CSS (Contact)
======================= */
.contact{
    background: #fbd062;
    padding: 50px 0;
}
.contact_inner{
    gap: 10%;
    margin-bottom: 100px;
}
.contact_info{
    width: 40%;
}
.contact_info h1 {
    font-size: 39px;
    margin-bottom: 25px;
}
.contact_info p {
    font-size: 14px;
    line-height: 25px;
}
.contact_form{
    width: 50%;
}
.contact_form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Poppins';
    border: none;
    outline: none;
    border-radius: 5px;
}
.contact_form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Poppins';
    border: none;
    outline: none;
    border-radius: 5px;
}
.contact_form button {
    font-size: 14px;
    font-family: 'Poppins';
    border: none;
    cursor: pointer;
}
.copyright_text p{
    font-size: 14px;
    text-align: center;
}



/* Media Query (Responsive) */
@media screen and (max-width: 688px){
    .container{
        width: 100%;
        padding: 0 20px;
    }
    .top_navigation{
        flex-direction: column;
        justify-content: center;
    }
    .top_navigation .logo{
        margin-bottom: 50px;
    }
    .top_navigation .logo img{
        width: 250px;
    }
    .navigation_menus ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner{
        flex-direction: column;
    }
    .banner_info, .banner_img{
        width: 100%;
    }
    .banner_info{
        margin-bottom: 50px;
    }
    .partner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .partner img {
        margin-bottom: 20px;
        width: 150px;
    }
    .services_inner{
        grid-template-columns: repeat(1, 1fr);
    }
}